  /**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #22808d;
  --ifm-color-primary-dark: #0A71BB;
  --ifm-color-primary-darker: #fff;
  --ifm-color-primary-darkest: #fff;
  --ifm-color-primary-light: #fefefb;
  --ifm-color-primary-lighter: #fefefb;
  --ifm-color-primary-lightest: #fefefb;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: transparent;
  --ifm-breadcrumb-item-background-active: transparent;
  
  --ifm-font-family-base: 'Open Sans', sans-serif;
  --ifm-footer-padding-vertical: 8rem;
  --ifm-navbar-background-color: #000;

  --rdb-font-family-headers: 'Montserrat', sans-serif;;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fefefb;
  --ifm-color-primary-dark: #3E3E3E;
  --ifm-color-primary-darker: #000;
  --ifm-color-primary-darkest: #000;
  --ifm-color-primary-light: #73B2E0;
  --ifm-color-primary-lighter: #73B2E0;
  --ifm-color-primary-lightest: #73B2E0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/* Radicalbit corporate elements */

h1, h2, h3 {
  font-family: var(--rdb-font-family-headers);
  font-weight: normal;
  color: var(--ifm-color-primary);
}


.breadcrumbs__link {
  padding: 0;
}

.navbar{
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar__title {
  font-family: var(--rdb-font-family-headers);
}

.pagination-nav__link {
  border: 0;
}

.theme-doc-sidebar-container {
  background-color: var(--ifm-color-primary-darker);
}

.footer {
  background-color: var(--ifm-navbar-background-color);
  position: relative;
  font-size: .8rem;
  border-top: 1px solid var(--ifm-toc-border-color);
}


.footer__copyright {
  border-top: 1px solid var(--docusaurus-highlighted-code-line-bg);
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: .8em;
}
